@import 'src/_variables.scss';

.custom-header {
    font-size: 18px;
    border-top: 1px solid $border_grey;
    border-bottom: 1px solid $border_grey;

    .left-section {
        .arrow {
            background: none;
            border: none;
            cursor: pointer;
            font-size: inherit;
            .fw-bold{
                color: $color_grey;
            }
            .vertical-line {
                border-left: 1px solid $border_grey;
                margin: 0 10px;
              }
        }
    }

    .right-section {
        .close {
            padding: 8px 35px;
            margin-left: 10px; 
            background-color: $white-color; 
            color: $primary-color;
            border: 1px solid $primary-color;
            cursor: pointer;
        }
    }
}