@import 'src/_variables.scss';

.dropdown-menu {
	border-radius: 0;
	width: 400px;
}

.form-check-input {
	border-radius: 0;
	outline: none;
}

.reset-button {
	padding: 6px 25px;
	margin-left: 10px;
	background-color: $white-color;
	color: $primary-color;
	border: 1px solid $primary-color;
}

.apply-button {
	padding: 6px 25px;
	margin-left: 10px;
	background-color: $primary-color;
	color: $white-color;
	border: none;
}
