<div class="shipment-container">
    <app-search-header [isSummary]="false" [const]="const"></app-search-header>
    <div class="component-list">
      <div class="top-section d-flex align-items-center border-bottom p-1">
          <div class="left-aligned"> <span class="results">{{searchResults.length}}</span> {{const.LABEL_Result}}</div>
          <div class="right-aligned">
            <app-filter [const]="const" (selectedFilters)="onApplyFilter($event)"></app-filter>
          </div>
      </div>
      <ng-container *ngFor="let shipmentDetail of searchResults | filterStatus:selectedFilters">
        <app-result-card [const]="const" [cardDetails]="shipmentDetail"></app-result-card>
      </ng-container>
    </div>
</div>
