.summary-details-container {
    max-width: 95%;
    box-shadow: 1px 2px 5px #1817175c;
    margin: 14px auto;
    background-color: #fff;    
}

.card{
    border-radius: 0;
    border: none;
}

.nav-tabs .nav-link.active {
    border-radius: 0;
    border: none;
    color: #2278bf; 
    border-bottom: 2px solid #2278bf; 
  }